 table {
            border: dashed;
            text-align: center;
            border: double;
            background-color: antiquewhite;
            border-collapse: collapse;
            

            vertical-align:middle;


        }