ul

{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

li {
    display: inline;
    float: left;
}

    li a {
        display: block;
        color: grey;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: Arial;
        font-size: x-large;
    }

        li a:hover {
            background-color: white;
        }

.active {
    background-color: floralwhite;
}

